.container{
  margin-top:100px;
  display:flex;
  justify-content: center;
}

.jdv {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  background-color: black;
  grid-gap: 7px;
  height: 750px;
  width:750px;
}

.box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 180px;
  font-family:arial;
}

body {background-color:white;}