body
{
    background-color:#1c1e21;
}
.releasescontainer
{
    width:100%;
    height:450px;
    background-image: url(../img/gplays.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;   
    border-radius: 25px;
    margin-bottom:75px;
    cursor: pointer;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    
}

.mainoffers
{
    background-color:#242526;
    border-radius: 25px;
    width:100%;
    overflow:hidden;
    border: 2px solid gray;
}
.offerlist
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 40px 25px 40px;
    margin: 35px 0px 40px 0px;
    overflow-x:scroll;

}

.offeritem
{
    height:275px;
    min-width:230px;
    background-color:#1c1e21;
    border-radius:25px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    position:relative;
    border:2px solid #242526;
    transition: border 0.3s ease;
    cursor: pointer;
}

.offeritem:hover
{
    border: 2px solid gray;
}

.offeritem img
{
    margin-bottom:120px;
    max-width: 85%;
    max-height: 85%;
}

.productinfo
{
    font-family: coolvetica;
    color:lightgray;
    background-color:#18191c;
    position:absolute;
    margin-top:170px;
    width:100%;
    height:130px;
    padding:15px;
    font-size:15px;
}

.productname
{
    position:absolute;
    z-index:0;
}

.pricetag
{
    margin-top:50px;
    z-index:1;
    position:absolute;
    font-family:monumentlight;
    text-align: center;
    font-size:16px;
}

.promsection2
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}

.promotional2 img
{
    max-width:120%;
    min-height:100%;
}

.promotional2
{
    height:800px;
    overflow:hidden;
    width:700px;
    margin-top:75px;
    border-radius: 25px;
    margin-right:75px;
    cursor:pointer;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index:0;
}

.promotional3
{
    height:800px;
    overflow:hidden;
    width:1300px;
    margin-top:75px;
    border-radius: 25px;
    cursor:pointer;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 0;
}

.promotional3 img
{
    min-height:100%;
}

.releaselabel
{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    font-family: monumentlight;
    font-size:30px;
    opacity:0%;
    transition: opacity 0.5s ease;
    z-index: 1;
    position:absolute;
}

.releaselabel:hover
{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    font-family: monumentlight;
    font-size:30px;
    opacity:100%;
}

.promotional

.offerlist::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.offerlist::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 25px;
}
.offerlist::-webkit-scrollbar-track {
    background: #1c1e21;
    margin:100px;
    border-radius: 25px;
    border:0;
}

.offerlist::-moz-scrollbar {
    width: 10px;
    height: 10px;
}
.offerlist::-moz-scrollbar-thumb {
    background: gray;
    border-radius: 25;
}
.offerlist::-moz-scrollbar-track {
    background: #1c1e21;
    margin:40px 40px 20px 40px;
}

