*
{
	margin:0;
	padding:0;
}

body 
{
	background: repeating-linear-gradient(
  45deg,
  #141414,
  #141414 10px,
  #171717 10px,
  #171717 20px
);
}

.center 
{
	display:flex;
	justify-content: center;
}

header
{
	font-family:Courier New;
}

#titulo
{
	color:#bababa;
	font-weight: bold;
	font-size:70px;
	text-align: center;
	margin-top:70px;
	transition: color .7s;

}

header:hover #titulo 
{
	color:#bd5151;
}

#legenda 
{
	color:gray;
	font-size:20px;
	text-align:center;
	margin-top:8px;
	opacity: 0;
	transition: opacity .5s;
}

header:hover #legenda 
{
	opacity:100;
}

.container
{
	margin-top:40px;
	padding:25px;
	border-style: solid;
	border-color:gray;
	border-radius:10px;
	transition:border-color .4s;
	width:430px;
	background-color:rgba(0,0,0,0.17);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container p
{
	font-weight: bold;
	font-size:30px;
	color:white;
	font-family:Courier new;
	margin-bottom:20px;
	transition: color .7s;
}

.container:hover p
{
	color:#bd5151;
}


.container:hover
{
	border-color:#bd5151;
}

.container a
{
	margin-left:16px;
	color:white;
	font-family: Courier New;
	font-size:15px;
	line-height: 25px;
	transition: color .4s;
	text-decoration: none;
}

.container a:hover 
{
	color:#bd5151;
}

.empty 
{
	margin-left:16px;
	color:gray;
	font-family: Courier New;
	font-size:15px;
	line-height: 25px;
	font-weight:bold;	
}

footer
{
	margin-top:70px;
	text-align: center;
}

footer p
{
	color:#bababa;
	margin:10px;
	font-family: Courier New;
	font-weight: bold;
	font-size:13px;
}

.secret
{
	margin-top:60px;
	text-align: center;
}

.secret a
{
	opacity:0;
	color:#bd5151;
	font-family: Courier New;
	transition: opacity .7s;
	text-decoration: none;
}

.secret:hover a
{
	opacity:100;
}

/*parte de compatibilidade p mobile*/

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 400px) 
{
	header
	{
		margin-top:0px;
		transform: scale(0.5);
	}
	
	#legenda
	{
		font-size:33px;
	}

	.container
	{
		transform: scale(0.9);
		margin-top:0;
		text-align:center;
	}

	.container a
	{
		font-size:16px;
		line-height: 30px;
		margin-left: 0;
	}

	.empty
	{
		margin-left:0;
	}

	footer
	{
		margin-top:15px;
	}

	footer p
	{
		font-size:11px;
	}
}






